
.navigation {

    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 4;

    &__list {

        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-grey-3;
        background-color: $color-nav-background;
        text-decoration: none;
        list-style: none;
        border-radius: 4rem;
        overflow: hidden;


        &_items {

            display: inline-block;
            overflow: hidden;

            &-links {
                display: inline-block;
                background-color: rgba(255, 255, 255, 0);
                overflow: hidden;
                transition: all .2s ease-out;
                
                padding: 2rem 3rem;

                &--1 {
                    padding-left: 4.5rem;
                }
                &--4 {
                    padding-right: 4.5rem;
                }


                &:hover {
                    background-color: rgba(255, 255, 255, 0.030);
                }
            }
        }
    }
}

// Custom SVG Styles on the Nav
//Overall
.nav_icons {
    width: 2.2rem;
    height: 100%;
}
// Targetted
.home_icon {

}
.about_icon {

}
.projects_icon {

}
.contact_icon {

}
.nav_active_page {
    background-color: rgba(255, 255, 255, 0.0202);
}