@import '../../utils';
@import '../../variables';
@import '../../animations';
@import '../../mixins';


.home {

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__backgroundbox {

        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-image: url(../../../assets/photos/about_photo-desktop.jpg);
        background-size: cover;
        background-position: center top;


        &_triangles {
            position: relative;
        }

        &_squares {
            position: relative;
        }
    }


    &__blurrer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(11px); /* Adjust the blur amount as needed */
        background-color: #1212123d; // To be animated
        animation: blinking 6s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate;
    }

    &__content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        


        &_textsBox {

            text-align: center;
            display: inline-block;

            &-intro {
                font-weight: 200; // Ultra-light
                letter-spacing: 3px;
                font-size: 2.5rem;
                color: #888888;

                @include respond(phone-small-2) {
                    font-size: 2.2rem;
                }
            }
            &-name {
                font-weight: 200; // Ultra-light
                letter-spacing: 12px;
                font-size: 8rem;
                color: #B4B4B4;
                margin: 0;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;

                @include respond(phone-small-2) {
                    font-size: 6rem;
                }
            }
            &-title {
                font-weight: 200; // Ultra-light
                letter-spacing: 4px;
                font-size: 2rem;
                color: #B7B7B7;
                padding-bottom: 4rem;
                border-bottom: 1px solid #393939;

                @include respond(phone-small-2) {
                    font-size: 2.2rem;
                }
            }
        }


        &_linksBox {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 3rem 0;
            margin-bottom: 10rem;

            &-link {

                display: inline-block;

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &--icon {
                    height: 3.5rem;
                    width: auto;
                    color: $color-grey-3;
                    transition: all .5s ease-out;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }


        &_pointerCircleBox {

            position: relative;
            width: 5.5rem;
            height: 5.5rem;

            &-icon {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 67.5%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


// Pointer
#pointer {
    transform-origin: -16% 0%;
    display: block;
    touch-action: none;
  }