
// Colors:
$color-black: #000000;
$color-white: #ffffff;

// 1 (Darkest) - Lower# = Lighter
$color-grey-1: #0F0F0F; // Main background color etc...
$color-grey-2: #7B7B7B;
$color-grey-3: #CACACA;

$color-nav-background: #131313;

$color-primary: #6BFFE4;


// Brand Colors:
$color-linkedin: #0072b1;
$color-instagram: #FA7E1E;
$color-facebook: #316FF6;
$color-dribble: #ea4c89;


// Animation
$hard-ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
$funky-cubic-bezier: cubic-bezier(0.34, 1.56, 0.64, 1);