// IMPORTS

// Import variables and partials
@import '_variables'; // Define your Sass variables here

// Component-specific styles
@import 'components/nav';

// Importing any third-party libraries or frameworks
@import 'normalize.css'; // Normalize.css to reset browser styles (if needed)





// Global styles / Base Styles


// FONTS
/* Font 1 - Butler-Stencil */
@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-UltraLight.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-Medium.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-Light.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-Black.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-Bold.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../assets/fonts/Butler_Webfont/Butler.woff2') format('woff2'),
      url('../assets/fonts/Butler_Webfont/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Font 2 - Butler */
@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff2') format('woff2'),
      url('../assets/fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


.text-butlerstencil {
  font-family: 'Butler Stencil', sans-serif; /* Use Font 1 */
}

.text-butler {
  font-family: 'Butler', sans-serif; /* Use Font 2 */
}





// Other Base stuff
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px
  
  // Media query stuff will go here

}

body {
  position: relative;
  overflow-x: hidden;
  background-color: $color-grey-1;
  font-family: 'Butler', sans-serif;
  font-weight: 200; // 200 = UltraLight, Light = 300, Normal = Regular, 500 = Medium
  font-size: 1.6rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}






// .rellax {
//   transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);

//   @media only screen and (max-width: $bp-largest) {
//       transition: none;
//   }
// }


//CUSTOM HIGHLIGHT
::selection {
  background: $color-white;
  color: $color-grey-1;
}
::-moz-selection {
  background: $color-white;
  color: $color-grey-1;
}

// //CUSTOM SCROLL-BAR
// /* width */
// ::-webkit-scrollbar {
//   width: 1rem;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #080016;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background-image: linear-gradient(to bottom, #001a14 , #00cfa9);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background-image: linear-gradient(to bottom, #008b72 , #18ffd5);
// }

// ::-webkit-scrollbar-thumb:active {
//   background-image: linear-gradient(to bottom, #001a14 , #007761);
// }