body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-UltraLight.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Medium.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Light.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Black.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Bold.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-ExtraBold.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Font 2 - Butler */
@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}