// IMPORTS

// Helpers
@import 'styles/variables';
@import 'styles/utils';
@import 'styles/animations';
@import 'styles/mixins';

// Component-specific styles
@import 'styles/components/nav';
@import 'styles/components/buttons';
@import 'styles/components/project';

// Pages
@import 'styles/components/views/home';
@import 'styles/components/views/about';
@import 'styles/components/views/projectsPage';
@import 'styles/components/views/contactsPage';



// Global styles / Base Styles


// FONTS
/* Font 1 - Butler-Stencil */
@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-UltraLight.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Medium.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Light.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Black.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-Bold.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler-ExtraBold.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/Butler_Webfont/Butler.woff2') format('woff2'),
      url('./fonts/Butler_Webfont/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Font 2 - Butler */
@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler Stencil';
  src: url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff2') format('woff2'),
      url('./fonts/Butler_Stencil_Webfont/ButlerStencil-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}






// Other Base stuff
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px
  
  // Media queries for general sizing adjustments
  @include respond(phone-small-2) {

  }
  @include respond(phone-small-1) {

  }
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tablet) {

  }
  @include respond(laptop) {

  }

}

body {
  position: relative;
  overflow-x: hidden;
  background-color: $color-grey-1;
  color: $color-white;
  font-family: 'Butler', sans-serif;
  font-weight: 200; // 200 = UltraLight, Light = 300, Normal = Regular, 500 = Medium
  font-size: 1.6rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}







//CUSTOM HIGHLIGHT
::selection {
  background: rgb(222, 222, 222);
  color: black;
}
::-moz-selection {
  background: rgb(222, 222, 222);
  color: black;
}




// 800px and OVER
@media (min-width: 50em) {

  //CUSTOM SCROLL-BAR
  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
    transition: all .4s ease-out;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(226, 226, 226);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(180, 180, 180);
  }

};